<%= form_for @user do |f|  %>
	<% if @user.autopost %>
		<% @user.autopost = false %>
		<%= f.hidden_field(:autopost) %>
	  <%= f.submit "Turn AutoPost off" %>
	<% else %>
	  <% @user.autopost = true %>
		<%= f.hidden_field(:autopost) %>
	  <%= f.submit "Turn AutoPost on" %>
	<% end %>
<% end %>

<%= form_for @user do |f|  %>
	<%= f.label :hashtag %>
	<%= f.text_field :hashtag %>
	<%= f.submit "Update hashtag" %>
<% end %>


	

<div id="pending">
	<h2>Pending</h2>
	<% if @pending.any? %>
		<table><%= render @pending %></table>	
		<%= form_for @user do |f|  %>
			<% @user.delete_pending = true %>
			<%= f.hidden_field :delete_pending %>
			<%= f.submit "Delete all pending tweets" %>
		<% end %>
	<% end %>
</div>


<div id="approved">
	<h2>Approved</h2>
	<% if @approved.any? %>
		<table><%= render @approved %></table>
		<%= form_for @user do |f|  %>
			<% @user.delete_approved = true %>
			<%= f.hidden_field :delete_approved %>
			<%= f.submit "Delete all approved tweets" %>
		<% end %>	
	<% end %>
</div>
